# ignore vim swap files
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#ignore symlink added by setup
vim/bundle/powerline

#ignore mutt imap password file. Don't really ant that visible in public internets ;)
mutt/imap_passwd

# ignore python bytecode files
*py[oc]
backups
.ropeproject

# ignore istory stuff from vimperator. should be synced through firefox.
vimperator/info/*/history*
